<div class="posts_box">
  <% posts.each do |post| %>
    <ul>
      <a href="/posts/<%= post.id %>">
        <li><strong><%= post.title %></strong></li>
        <li><img src="<%= post.image %>" width="300"></li>
      </a>
    </ul>
  <% end %>
</div>