<div id="users_top">
  <%= image_tag "food_top.jpg", id:"users_top_img" %>

  <div id="users_info">
    <h3>&ensp;ログイン中のユーザー：<%= current_user.name %>&ensp;</h3>
  </div>
</div>

<div>
  <ul class="nav nav-tabs nav-justified mb-3">
    <li class="nav-item"><a href= "#" class="nav-link">全ての投稿</a></li>
    <li class="nav-item"><a href= "#" class="nav-link">自分の投稿</a></li>
    <li class="nav-item"><a href= "#" class="nav-link">お気に入り</a></li>
  </ul>
</div>

<%= render "users/posts", posts: @posts %>