<div id="toppages_top">
  <%= image_tag "food_top.jpg", id: "top_img" %>
  
  <% if logged_in? %>
    <a href="/posts/new"><p id="signup_button">&ensp;投稿する&ensp;</p></a>
  <% else %>
    <a href="/signup"><p id="signup_button">&ensp;登録する&ensp;</p></a>
  <% end %>
</div>

<div id="top_caption">
  <h2 class="p-2 bd-highlight font-weight-bold text-center">ダイエろぐの使い方</h2>
</div>

<div class="card my-3">
  <div class="row no-gutters">
    <div class="col-sm-2 my-3 mx-3 ">
      <i class="far fa-clipboard fa-6x"></i>
    </div>
    <div class="col-sm-7">
      <div class="card-body">
        <h4 class="card-title font-weight-bold">毎食を記録！</h4>
        <h5 class="card-text">写真とコメントを載せよう！</h5>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-sm-2 my-3 mx-3 ">
      <i class="fas fa-user-friends fa-6x"></i>
    </div>
    <div class="col-sm-7">
      <div class="card-body">
        <h4 class="card-title font-weight-bold">他の人と共有！</h4>
        <h5 class="card-text">良くも悪くも他人のふり見て我がふり直そう！</h5>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-sm-2 my-3 mx-3 ">
      <i class="far fa-calendar-check fa-6x"></i>
    </div>
    <div class="col-sm-7">
      <div class="card-body">
        <h4 class="card-title font-weight-bold">定期的な振り返りを！</h4>
        <h5 class="card-text">食事や散財を振り返って自己満足or嫌悪に浸ろう！</h5>
      </div>
    </div>
  </div>
</div>

