body {
    background: #f5f5f5;
}

#top_img {
    height: 500px;
    width: 100%;
    margin-bottom: 10px;
}

#top_caption {
    background: #dcdcdc;
    
}

#toppages_top {
    position: relative;
}

#signup_button {
    position: absolute;
    top: 70%;
    left: 43%;
    font-size: 25px;
    color: white;
    margin: 0;
    padding: 15px;
    background: #228b22;
    border-radius: 10px;
}


#users_top {
    position: relative;
}


#users_top_img {
    height: 400px;
    width: 100%;
}


#posts_caption {
    background: #fffaff;
}

h2 {
    margin-top: 10px;
}


.show_caption {
    margin-top: 30px;
    margin-bottom: 50px;
}

.pagination {
    justify-content: center;
}

.footer {
    padding: 10px;
    text-align: center;
}