body {
    height: 800px;
}


#toppages_top {
    height: 600px;
    width: 100%;
    margin-bottom: 10px;
}

#top_caption {
    background: #dcdcdc;
    
}

.top_img {
    position: relative;
}

#signup_button {
    position: absolute;
    top: 70%;
    left: 40%;
    font-size: 35px;
    font-weight: bold;
    color: white;
    margin: 0;
    padding: 5px;
    background: blue;
    border: inset 5px white;
}


#users_index_top {
    height: 500px;
    width: 100%;
}

#posts_caption {
    background: #fffaff;
}

h2 {
    margin-top: 10px;
}

.posts_box {
    background: #e6e6fa;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-around;
    align-content: flex-start;
}

ul {
    list-style: none;
}

.show_caption {
    margin-top: 30px;
    margin-bottom: 50px;
}